#self-picture {
  width: 325px;
  height: 325px;
  border: 10px solid #FFFFFF;
  background: center;
}

body {
  color: white;
}

#project-link {
  color: #00fbff;
  
}

.divider {
  background-color: white;
  height: 6px;
  margin-bottom: 30px;
}

/* label color */
.input-field label {
  color: #FFFFFF;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #FFFFFF;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #FFFFFF;
}

input, textarea, a {
  color: white;
}

.modal {
  color: black;
}

.beige {
  background-color: #f5f5dc
}

.card-panel-main {
  margin-top: 50px;
  margin-bottom: 50px;
}

.table-of-contents a:hover {
  border-left: 2px solid #2196F3;
}

.table-of-contents a.active:hover {
  border-left: 7px solid #2196F3;
}

.table-of-contents a.active {
  border-left: 7px solid #2196F3;
}

