#self-picture {
  width: 40%;
  height: 40%;
  border: 10px solid #FFFFFF;
  background: center;
}

body {
  color: white;
}

#project-link {
  color: #00fbff;
  
}

.divider {
  background-color: white;
  height: 6px;
  margin-bottom: 10px;
}

/* label color */
.input-field label {
  color: #FFFFFF;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #FFFFFF;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #FFFFFF;
}

input, textarea {
  color: white;
}

.modal {
  color: black;
}

html, body, .block {
  height: 100%;
}
nav ul li a:hover, nav ul li a.active {
  background-color: rgba(0,0,0,.1);
}
footer {
  padding-left: 0;
}

.beige {
  background-color: #f5f5dc
}

.container-main {
  height: 100%;
}


.card-panel-main {
  height: 80%;
  overflow: auto;
}