{% load static %}
<div class='center-align'>
  <img id='self-picture' class='responsive-img circle' src='static/images/portrait/self.png'/>
  <h1 class="card-title">Howdy!</h1>
  <div class="divider"></div>
</div>
  
<h5>I'm a full-time college student pursuing a B.S. in Computer Science and a B.A. in Economics at UC Davis. I also do freelance work as a mobile app and web developer helping small businesses digitize and expand their services via customized mobile apps.</h5>
<h5>Outside of school and work, I enjoy pursuing entrepreneurial ventures (e.g., developing mobile apps, participating in business competitions, etc.), song-writing and singing, and engaging in competitive rowing.</h5>
<h5>Currently, I'm looking for opportunities to apply my development skills at a software engineering internship in the Bay Area for the summer of 2018. </h5>
<h5>Whether you're an employer who sees a strong fit for a position on their team, a small business owner who need an app developer, a friend, or just someone with an interesting idea to share, I'd be more than happy to connect!</h5>

<div style="display: flex; justify-content: space-around;">
    <a style='width: 50%' class="waves-effect waves-light btn-large blue darken-3 pulse" href="{% static 'documents/resume.pdf' %}">Resume</a>
</div>
