{% extends 'index.html' %}
{% block about %}
  <div id='about'class='card-panel blue hoverable card-panel-main'>
    {% include 'home/about.html' %}
  </div>
{% endblock %}
{% block skills %}
  <div id='skills' class='card-panel blue hoverable card-panel-main'>
    {% include 'home/skills.html' %}
  </div>
{% endblock %}
{% block experience %}
  <div id='experience' class='card-panel blue hoverable card-panel-main'>
    {% include 'home/work-experience.html' %}
  </div>
{% endblock %}
{% block projects %}
  <div id='projects' class='card-panel blue hoverable card-panel-main'>
    {% include 'home/projects.html' %}
  </div>
{% endblock %}
{% block education %}
  <div id='education' class='card-panel blue hoverable card-panel-main'>
    
  </div>
{% endblock %}
{% block contact %}
  <div id='contact' class='card-panel blue hoverable card-panel-main'>
    {% include 'home/contact.html' %}
  </div>
{% endblock %}
  
  

