<h1 class="card-title center-align">Projects</h1>
<div class='divider'></div>
<div class="row">
  {% for project in projects %}
  <div class="col m4 blue">
    <div class="card hoverable blue darken-3">
        <div class="carousel">
          {% for i in "xx" %}
            {% if project.project_image_1 or project.project_image_2 %}
              <a class="carousel-item"><img src="{{ project.project_image_1 }}"></a>
              {% if project.project_image_2 %}
                <a class="carousel-item"><img src="{{ project.project_image_2 }}"></a>
              {% endif %}
            {% else %}
              <p>No Images Available Currently</p>
            {% endif %}
          {% endfor %}
        </div>
        <div class="card-content">
          <span class="card-title" style="font-size: 30px;"><b>{{ project.name }}</b></span>
          <p style="font-size: 20px;">{{ project.description }}</p>
          <p style="margin-top: 20px;"><a href="{{ project.link }}">GitHub Repo Link</a></p>
        </div>
    </div>
  </div>
  {% endfor %}
</div>