<h1 class="card-title center-align">Skills</h1>
<div class='divider'></div>
<h4>Programming/ Markup Languages:</h4>
<h5>Proficient:</h5>
<div class="chip" style="font-size:20px">Swift</div>
<div class="chip" style="font-size:20px">JavaScript</div>
<div class="chip" style="font-size:20px">Python</div>
<div class="chip" style="font-size:20px">C++</div>
<div class="chip" style="font-size:20px">HTML</div>
<div class="chip" style="font-size:20px">CSS</div>
<h5>Working Knowledge:</h5>
<div class="chip" style="font-size:20px">Java</div>
<div class="chip" style="font-size:20px">SQL</div>
<div class="chip" style="font-size:20px">Objective-C</div>
<h4>Libraries/Frameworks:</h4>
<div class="chip" style="font-size:20px">Django</div>
<div class="chip" style="font-size:20px">ReactJS</div>
<div class="chip" style="font-size:20px">React Native</div>
<div class="chip" style="font-size:20px">jQuery</div>
<div class="chip" style="font-size:20px">Firebase</div>