{% load static %}
<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8" />
    <title>Welcome!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://use.fontawesome.com/e10086b709.css" media="all" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/frameworks/materialize5/css/materialize.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
  </head>
  <body class='beige'>
    <nav>
      <div class="nav-wrapper blue">
        <a href="#!" class="brand-logo center">Skyler Bala</a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
   

    <ul class="sidenav" id="mobile-nav">
      <li><a href='#about'>About</a></li>
      <li><a href='#skills'>Skills</a></li>
      <li><a href='#experience'>Experience</a></li>
      <li><a href='#projects'>Projects</a></li>
      <li><a href='#education'>Education</a></li>
      <li><a href='#contact'>Contact</a></li>
    </ul>

    <main>
      <div class="row">
        <div class="col s2">1</div>
        <div class="col s8">
            <div class='container' style='max-width: 9999px; width: 100%;'>
                {% block main %}
                {% endblock %}
              </div> 
        </div>
        <div class="col s2">
          <div class="row" style="position: relative;">
              <div class="col s2 hide-on-med-and-down container" style='position: fixed; text-align: center;top: 85px; width'>
                <ul class="section table-of-contents">
                  <li><h5><a class='waves-effect waves-dark pulse' href='#about'>About</a></h5></li>
                  <li><h5><a class='waves-effect waves-dark' href='#skills'>Skills</a></h5></li>
                  <li><h5><a class='waves-effect waves-dark' href='#experience'>Experience</a></h5></li>
                  <li><h5><a class='waves-effect waves-dark' href='#projects'>Projects</a></li>
                  <li><h5><a class='waves-effect waves-dark' href='#education'>Education</a></h5></li>
                  <li><h5><a class='waves-effect waves-dark' href='#contact'>Contact</a></h5></li>
                  <li><h5><a class='waves-effect waves-dark' href="{% static 'documents/resume.pdf' %}">Resume</a></h5></li>
                </ul>
              </div>
          </div>
            
        </div>
      </div>
      
      
    </main>
  
    <script src="{% static '/frameworks/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/frameworks/materialize5/js/materialize.js' %}"></script>
    <script src="{% static '/js/index.js' %}"></script>
  </body>
</html>